<% include header_min %>
  <div class="container">
    <h3 class="title">友情链接申请列表</h3>
    <table class="table listuser-table">
      <tr>
        <td>友情链接名称</td>
        <td>地址</td>
        <td>时间</td>
        <td>审核</td>
      </tr>
      <% dataPleList.forEach(function(val){ %>
      <tr>
        <td class="a"><%=val.name%></td>
        <td class="a"><%=val.address%></td>
        <td class="a"><%=val.ctime.toLocaleString()%></td>
        <td class="a">
          <a href="/admin/frePleYes/<%=val._id%>">通过</a>
          |
          <a href="/admin/frePleNo/<%=val._id%>" onclick="return confirm('你确定要删除吗？')">不通过</a>
        </td> 
      </tr>
      <% }) %>
    </table>
  </div>
<% include footer_min %>